---
layout: page
---

<h1 class="h2 text-center pt-3 pb-5">Schedule</h1>

{% for post in site.posts %}
    <div class="row justify-content-center">
        <div class="col-12 col-sm-3 text-center">
            {% assign default_image_url = post.path | remove_first: "_posts/" | remove_first: "current/" | remove_first: "archive/" | replace: ".md", ".jpg" | prepend: "assets/speakers/" %}
            <img class="img-fluid rounded-circle mb-3 px-5 px-sm-1 px-md-3 px-xl-5" alt="{{ post.author }}" src="{{ post.image | default: default_image_url | relative_url }}">
        </div>
        <div class="col-12 col-sm-9">
            {% if post.title == post.author %}
            <h2 class="h4"><a class="text-decoration-none" href="{{ post.url }}">{{ post.author }}</a> &middot; <a class="text-decoration-none" href="{{ post.author_url | default: post.url }}">{{ post.institution }}</a></h2>
            {% else %}
            <h2 class="h4"><a class="text-decoration-none" href="{{ post.url }}">{{ post.title }}</a></h2>
            <h3 class="h5"><a class="text-decoration-none" href="{{ post.author_url | default: post.url }}">{{ post.author }} &middot; {{ post.institution }}</a></h3>
            {% endif %}
            <h3 class="h6">{{ post.date | date: "%F" }} &middot; {{ post.time | default: site.default_time }}</h3>
            <p class="my-3">
                {% if post.video %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.video }}">Video</a>{% endif %}
                {% assign content = post.content | strip %}{% unless content == "" %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.url | relative_url }}">Abstract</a>{% endunless %}
                {% if post.slides %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.slides | relative_url }}">Slides</a>{% endif %}
                {% if post.paper %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.paper | relative_url }}">Paper</a>{% endif %}
            </p>
        </div>
    </div>
{% endfor %}