---
published: false
---

{% for post in site.categories.current %}
    {% if post.highlight %}
        {% assign default_image_url = post.path | remove_first: "_posts/" | remove_first: "current/" | remove_first: "archive/" | replace: ".md", ".jpg" | prepend: "assets/speakers/" %}                
        {% assign default_slides_url = post.path | remove_first: "_posts/" | remove_first: "current/" | remove_first: "archive/" | replace: ".md", ".pdf" | prepend: "assets/slides/" | relative_url %}
            <div class="row justify-content-center">
            <div class="col-12 col-sm-3 text-center">
                <img class="img-fluid rounded-circle mb-3 px-4 px-sm-0 px-md-2 px-xl-4" alt="{{ post.author }}" src="{{ post.image | default: default_image_url | relative_url }}">
            </div>
            <div class="col-12 col-sm-9">
                <h1 class="h2"><a class="text-decoration-none" href="{{ post.url }}">{{ post.title }}</a></h1>
                <h2 class="h4">{% if post.author_url %}<a class="text-decoration-none" href="{{ post.author_url }}">{% endif %}{{ post.author }} &middot; {{ post.institution }}{% if post.author_url %}</a>{% endif %}</h2>
                <h2 class="h5">{{ post.date | date: "%F" }} &middot; {{ post.time | default: site.default_time }}</h2>
                <p class="my-3">
                    {% if post.video %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.video }}">Video</a>{% endif %}
                    {% if post.slides %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.slides_url | default: default_slides_url }}">Slides</a>{% endif %}
                    {% if post.paper %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ post.paper | relative_url }}">Paper</a>{% endif %}
                </p>
                {{ post.excerpt }}
            </div>
        </div>
    {% endif %}
{% endfor %}