---
layout: page
---

<div class="row justify-content-center">
    <div class="col-12 col-sm-3 text-center">
        {% assign default_image_url = page.path | remove_first: "_posts/" | remove_first: "current/" | remove_first: "archive/" | replace: ".md", ".jpg" | prepend: "assets/speakers/" %}
        <img class="img-fluid rounded-circle mb-3 px-4 px-sm-0 px-md-2 px-xl-4" alt="{{ page.author }}" src="{{ page.image | default: default_image_url | relative_url }}">
    </div>
    <div class="col-12 col-sm-9">
        {% if page.title == page.author %}
        <h2 class="h4"><a class="text-decoration-none" href="{{ page.url }}">{{ page.author }}</a> &middot; <a class="text-decoration-none" href="{{ page.author_url | default: page.url }}">{{ page.institution }}</a></h2>
        {% else %}
        <h2 class="h4"><a class="text-decoration-none" href="{{ page.url }}">{{ page.title }}</a></h2>
        <h3 class="h5"><a class="text-decoration-none" href="{{ page.author_url | default: page.url }}">{{ page.author }} &middot; {{ page.institution }}</a></h3>
        {% endif %}
        <h3 class="h6">{{ page.date | date: "%F" }} &middot; {{ page.time | default: site.default_time }}</h3>
        <p class="my-3">
            {% if page.video %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ page.video }}">Video</a>{% endif %}
            {% assign content = post.content | strip %}{% unless content == "" %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ page.url | relative_url }}">Abstract</a>{% endunless %}
            {% if page.slides %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ page.slides | relative_url }}">Slides</a>{% endif %}
            {% if page.paper %}<a class="btn btn-outline-dark btn-sm fw-bold mr-1" href="{{ page.paper | relative_url }}">Paper</a>{% endif %}
        </p>
        <p>
            {{ content }}
        </p>
    </div>
</div>